/* ------------- */
/* Index Styling */
/* ------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html, body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 12px;
}

body {
    margin: 24px 24px 0px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 36px);
    box-sizing: border-box;
}
/* .content-wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.inner-wrapper {
    overflow: auto;
    height: calc(100% - 36px);
    padding: 18px 0;
}
.content-wrapper:before{
    content: '';
    height: 12px;
    width: 100%;
    background: linear-gradient(180deg, rgb(0 0 0) 10%, rgb(0 0 0 / 25%) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    }
  .content-wrapper:after{
    content: '';
    height: 12px;
    width: 100%;
    background: linear-gradient(360deg, rgb(0 0 0) 10%, rgb(0 0 0 / 25%) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    } */

h1 { font-size: 2em; }

a  { 
    color: white;
    display: block;
    margin-bottom: 2px;
}

footer {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 48px 24px 48px;
    box-sizing: border-box;
    font-size: 14px;
}

p { margin: 0; }

.copyright {
    font-size:12px;
    color: white;
    margin-top: 6px;
}

.disclaimer {
    font-size: 12px;
    color: white;
    font-style: italic;
    margin-top: 6px;
}
.disclaimer-container {
    padding: 0 48px;
}

@media screen and (max-width: 1160px) {
    footer {
        flex-wrap: wrap;
    }
    .disclaimer-container {
        order: 3;
        width: 100%;
        margin-top: 24px;
        padding: 0;
    }
}
/* @media screen and (max-height: 770px) {
    footer {
        position:unset;
        margin-top: 48px;
        padding: 0 0 18px 0;
    }
} */

/* Credits Page */
.credits-section {
    font-family: "Montserrat";
}
.credits-list {
    border-spacing: 12px;
    margin-left: -12px;
}
.credits-list p {
    white-space: pre;
}
table td { 
    padding: 0 12px 0 0;
}

/* POPUP LOGIN MODAL */
#modal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

#modal_window {
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}

#modal_window #modal_feedback > * {
    display: block;
}
#modal_window #modal_feedback :not(:last-child) {
    margin-bottom:12px;
}
#modal_window .no-password {
    color: maroon;
    position:absolute;
    bottom: 10px;
    right: 20px;
}
#modal_wrapper .footer-text {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.login {
    position:absolute;
    right: 36px;
    top: 36px;
}

.email-address {
    position:absolute;
    top: 78px;
    right: 48px;
}
@media screen and (max-width: 724px) {
    .email-address {
        right: unset;
        top: 116px;
    }
}