#text_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 20vw;
}
#text_container.long_word {
    font-size: 15vw;
}

/* text style & structuring */
#overall_text {
    color: white;
    position: absolute;
    color: #808080;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255,0,0,0);
    -webkit-text-stroke: 3px red;
}

/* individual letters */
#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8, #t9, #t10 { opacity: 0; }





/* animation */
.fadein_txt{
    animation-name: fadein_txt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein_txt {
    0% {opacity: 0;}
    100% {opacity: 1;}
}